<h1>
{{#each users}}
  {{this.title}}
{{/each}}
</h1>

<div class = "frosted-paragraph">
  <ul>
  {{#each users}}
    <li>{{this.class}}</li>
    &nbsp;
    <ul>
      <li>{{this.Date}}</li>
      &nbsp;
    </ul>
  {{/each}}
  </ul>
</div>
