<h1 class="tracking-in-contract-bck-top">User List</h1>

<div class="frosted-paragraph">
  <ul class="user-list">
    {{#each users}}
      <li class="user-entry">
        <h2 class="user-title">{{this.title}}</h2>
        <ul class="user-details">
          <li><strong>Class:</strong> {{this.class}}</li>
          <li><strong>Date:</strong> {{this.Date}}</li>
        </ul>
      </li>
    {{/each}}
  </ul>
</div>

